// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

/* Change the top-left block color */
.site-header {
  background-color: #CFB991; /* Purdue gold */
  color: #000000;            /* Text color */
}

/* Change the clickable site title link specifically */
.site-header .site-title {
  color: #000000;            /* Text color of the link */
  // font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none;
}

/* Optional: hover effect */
.site-header .site-title:hover {
  color: #ffffff;            /* White on hover */
}

/* Sidebar links */
.nav-list .nav-list-item > a {
  color: #CFB991; /* Purdue gold, for example */
  text-decoration: none; /* optional: remove underline */
}

/* Sidebar links on hover */
.nav-list .nav-list-item > a:hover {
  color: #000000; /* black on hover */
}

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }
}
